<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>1º SERCOMP - UEPB</title>
    <meta name="keywords" content="Computação, Inovação, Pesquisa em Computação, Computação contextualizada, Congresso, Paraiba, Patos-PB" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="screen" href="css/app.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
    <script src="js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/appScripts.js"></script>
    <script type="text/javascript">
        window.onload = function () {

            var ua = navigator.userAgent.toLowerCase();
            var uMobile = '';
            // === REDIRECIONAMENTO PARA iPhone, Windows Phone, Android, etc. ===
            // Lista de substrings a procurar para ser identificado como mobile WAP
            uMobile = '';
            uMobile += 'iphone;ipod;windows phone;android;iemobile 8';
            // Sapara os itens individualmente em um array
            v_uMobile = uMobile.split(';');
            // percorre todos os itens verificando se eh mobile
            var boolMovel = false;
            for (i = 0; i <= v_uMobile.length; i++) {
                if (ua.indexOf(v_uMobile[i]) != -1) {
                    boolMovel = true;
                }
            }
            if (boolMovel == true) {
                location.href = '/chamada-trabalhos-mobile';
            }
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92283889-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-92283889-4');
    </script>
</head>

<body class="">

    <!--NAVEGADOR-->
    <div class="fixed-top couro">
        <nav class="nav float-left pl-5 pt-4 w-75 navegacao">
            <span><img src="img/simbolo.png" height="60px"></span>
            <li class="nav-item">
                <a class="nav-link active text-light" href="/index">
                    <img class="img-fluid mr-2" style="filter: invert(100%)" src="img/home.svg">
                    Inicio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/inscricao-evento">
                    <img class="img-fluid mr-2" style="filter: invert(100%)" src="img/inscreverse.svg">
                    Inscrição
                </a>
            </li>
            <li>
                <a class="nav-link text-light" href="/chamada-trabalhos">
                    <img class="img-fluid mr-2" style="filter: invert(100%)" src="img/anexar.svg">
                    Submissão
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/hackton">
                    <img class="img-fluid mr-2" style="filter: invert(100%)" src="img/hackday.svg">
                    Hackday
                </a>
            </li>
        </nav>
        <div class="float-right pr-5 pt-4 w-25 navegacao ">
            <div class="float-right">
                <!--<span class="ml-3"><a href=""><img src="img/facebook.svg" style="filter: invert(100%)" height="20"></a></span>-->
                <span class="ml-3"><a href="https://www.instagram.com/sercomppb/"><img src="img/instagram.svg" style="filter: invert(100%)"
                            height="20"></a></span>
                <span class="ml-3"><a href="mailto:sercompeupb@gmail.com?Subject=Enviado%20do%20site" style="filter: invert(100%)"
                        height="20"><img src="img/email.svg"></a></span>
            </div>
        </div>
    </div>



    <!--Conteudo-->
    <div id="conteudo" style="padding-top: 100px">
        <div class="pr-5 pl-5 mr-5 ml-5 pt-3">
            <h2><strong>Chamada de trabalhos</strong></h2>

            <p>
                O Programa do Congresso I SERCOMP incluirá sessões técnicas, palestras convidadas, minicursos, e
                painéis, com o objetivo de promover discussões e fortalecer a rede de contato entre os
                pesquisadores e
                práticos da área de computação na região. Para compor as Sessões Técnicas são esperadas submissões
                de
                artigos técnico-científicos que apresentem claramente novas contribuições à pesquisa, relatos de
                experiência na indústria e estudos de caso, todos relacionados com a área de Computação e
                Tecnologia de
                Informação e Comunicações, e que estejam relacionados aos diversos tópicos de interesse do
                Congresso.

            </p>
            <br>
            <!-- Datas inportantes -->
            <div class="container mb-5 p-0 text-left float-left animacao2 text-dark">
                    <div class="w-100">
                        <div class="tittle-header couro">
                            <span><img src="img/evento.svg" class="img-fluid mr-2" style="filter: invert(100%)"><strong>Datas
                                    importantes</strong></span>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <h6>01/OUT - Prazo Inicial de submissão de artigos</h6>
                            </li>
                            <li class="list-group-item">
                                <h6>03/NOV - Prazo final de submissão de artigos</h6>
                            </li>
                            <li class="list-group-item">
                                <h6>10/NOV - Notificação dos autores dos artigos aprovados</h6>
                            </li>
                            <li class="list-group-item">
                                <h6>17/NOV - Entrega da versão final dos artigos</h6>
                            </li>
                            <li class="list-group-item">
                                <h6>22/NOV - Apresentação dos artigos</h6>
                            </li>
                        </ul>
                    </div>
                </div>
            <h2><strong>Template do Banner</strong></h2>
            <div class="btn couro mt-2">
                <a href="https://drive.google.com/file/d/1PiNyQnH51gHwoPKsNLvXzx52HO7I7Jud/view?usp=sharing" target="_blank"><strong class="text-light">Clique para Baixar</strong></a>

            </div>

            <h4 class="pt-4 mt-5">Tópicos de Interesse </h4>
            <br>
            <P>
                São esperadas especialmente contribuições que abordem o tema principal do evento - "Tecnologias e
                Inovações no Sertão Paraibano", bem como os grandes temas de desafios da pesquisa em Computação e
                TIC
                definidos pela comunidade de pesquisa nessas áreas.
            </P>

            <ul>
                <li>TIC para inclusão digital;</li>
                <li>Inovação e empreendedorismo no Nordeste;</li>
                <li>Visão sociotécnica de Sistemas de Informação.</li>
            </ul>
            <p>Outros tópicos são também esperados, mas não limitados a:</p>
            <ul>
                <li>Arquitetura orientada a serviços (SOA) e serviços Web</li>
                <li>Aspectos humanos e sociais em Computação</li>
                <li>Business Intelligence & Analytics</li>
                <li>Computação móvel, ubíqua e Internet das coisas</li>
                <li>Dados abertos e conectados, sistemas abertos</li>
                <li>Educação de/em Computação</li>
                <li>Engenharia de Software</li>
                <li>Ecossistemas de Software, Sistemas de Sistemas e de SI</li>
                <li>Gestão de conhecimento e aprendizagem organizacional</li>
                <li>Gestão de pessoas</li>
                <li>Gestão de processos (metodologias de gestão, repositórios de processos, modelagem de processos,
                    social
                    BPM, processos intensivos em conhecimento, adaptação de processos, processos sensíveis a
                    contexto)</li>
                <li>Governança empresarial e de TI</li>
                <li>Inovação com/em Computação</li>
                <li>Integração de informações e de aplicações</li>
                <li>Interação Humano-Computador em Computação</li>
                <li>Metodologias e abordagens para engenharia de SI</li>
                <li>Mídias sociais em negócios e sociedade</li>
                <li>Modelagem e paradigmas de desenvolvimento de SI (dados, sistemas/aplicações, agentes, aspectos,
                    componentes, métodos ágeis etc.)</li>
                <li>Pesquisa operacional e modelos de decisão em negócios</li>
                <li>Planejamento estratégico de sistemas e TI</li>
                <li>Preservação de informação e memória digital</li>
                <li>Qualidade de Software</li>
                <li>Representação de informações de negócio, gerência de dados e metadados nas organizações,
                    ontologias</li>
                <li>Segurança de/em TI</li>
                <li>Sistemas inteligentes (agentes inteligentes, algoritmos genéticos, aprendizagem de máquina,
                    mineração
                    de dados, modelos formais, ontologias, raciocínio automatizado, redes neurais, representação de
                    conhecimento)</li>
                <li>SI/TIC para governo (transparência, dados abertos, interoperabilidade, ecossistemas
                    governamentais)</li>
                <li>Sistemas de apoio à decisão</li>
            </ul>

            <h2 class="pt-3"><strong>Instruções para Submissão</strong> </h2>
            <p>Os artigos podem ser submetidos para o I SERCOMP somente nas categorias “relatos de caso” (case
                reports), sobre projetos em desenvolvimento, e "artigo completo" (full paper) sobre trabalhos de
                pesquisas já concluídas, com ideias e resultados inovadores, e seguindo metodologia científica
                adequada. Os relatos de caso devem ter entre 3 e 5 páginas (incluindo figuras, tabelas, diagramas,
                referências em anexos). O artigo completo deve ter entre 7 e 10 páginas (incluindo as figuras, tabelas,
                diagramas, referências e anexos). Qualquer trabalho submetido deve possuir no máximo 5 autores.

            </p>

            <!--<div class="container pr-4 pl-4 pt-3 row">
                <div class="m-1">
                    <a href="/inscricao-submissao" class="btn btn-lg couro text-white"><img src="img/doc.svg" style="filter: invert(100%)"
                            height="50px"><strong>Submeta aqui</strong></a>
                </div>

                <div class="m-1">
                    <a href="https://drive.google.com/file/d/17dym60BcokxyrBv8f1bmaG5Ph4rT8SqF/view?usp=sharing" class="btn btn-secondary text-white">
                        <h6><strong>Baixe aqui o template</strong></h6>
                    </a>
                </div>

            </div>-->


            <p class="pt-3"><strong>Alguns aspectos adicionais devem ser observados:</strong></p>

            <ul>
                <li>Sugere-se que os artigos descrevam claramente a metodologia científica empregada e uma análise
                    dos
                    resultados, ressaltando as contribuições de pesquisa e inovação em Computação e para a área de
                    aplicação, posicionando-a em relação a outros trabalhos da área.
                </li>
                <li>Todos os artigos podem ser submetidos em Português ou Inglês, em formato PDF e seguindo o
                    modelo
                    para publicação de artigos da SBC. As submissões devem ser feitas por meio do seguinte link
                    <a href="/inscricao-submissao">(Link)</a>.
                </li>
                <li>Submissões em inglês são recomendadas. Artigos escritos em Português devem conter o abstract.
                <li> Os trabalhos submetidos não devem ter sido publicados e nem estarem em processo de avaliação
                    ou
                    edição para publicação em outro lugar.
                </li>
                <li> Na versão de submissão do artigo, o cabeçalho do artigo não deverá haver nenhum tipo de
                    identificação
                    dos autores. Além de eliminar a identificação dos autores do cabeçalho do artigo, toda e
                    qualquer
                    referência que identifique a proveniência do artigo deve ser removida da versão de submissão,
                    como
                    nome
                    de projetos, de instituições, de ferramentas e citações de artigos que identifiquem os autores.
                    Artigos
                    que possuírem identificação nesta etapa serão rejeitados. Caso o artigo seja aceito, os autores
                    deverão
                    incluir na versão final seus dados (nomes, filiações e e-mails, bem como demais informações
                    necessárias
                    ao artigo, a exemplo de citações a outros trabalhos dos autores).
                </li>
                <li>A seleção de trabalhos será realizada a partir da revisão por membros do Comitê de Programa do
                    I
                    SERCOMP. O processo de revisão será conduzido de forma duplamente anônima (double-blind review)
                    por,
                    pelo menos, dois revisores.

                </li>
                <li>Os seguintes critérios serão considerados na avaliação: relevância ao escopo, qualidade
                    técnica,
                    clareza e pertinência.
                </li>
            </ul>
            <br>
            <h4>Publicação</h4>
            <p>Os artigos aceitos serão publicados nos anais do evento, condicionados à inscrição, de, pelo menos,
                um
                dos
                autores no evento, bem como à apresentação do trabalho no evento.</p>
            <br>
            <h4>Apresentação</h4>

            <p>Cada artigo aceito deverá ter pelo menos um autor inscrito para apresentá-lo em sessão técnica,
                tendo 60
                minutos para apresentação/discussão por meio de painel digital/poster.</p>
            <br>
            <h4>Coordenação da Trilha Principal</h4>
            <br>
            <p><strong>Dr. Rodrigo Alves Costa</strong>(<a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4705078H6">Lattes</a>)
            </p>
            <p><strong>Dra. Jannayna Domingues Barros Filgueira</strong>(<a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4223965P1">Lattes</a>)
                <small> - jannayna@uepb.edu.br</small></p>
            <br>
            <br>
            <h4>Avaliadores</h4>
            <br>


            <p><strong>Ms. Aislânia Alves de Araújo</strong>(<a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4251903J3">Lattes</a>)
                <small> - aislanialves@gmail.com</small></p>

            <p><strong>Esp. Francisco Anderson Mariano da Silva</strong>(<a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4203463T6">Lattes</a>)
                <small> - franciscoanderson4@gmail.com</small></p>

            <p><strong>Ms. Ingrid Morgane Medeiros de Lucena </strong>(<a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4352750U3">Lattes</a>)
                <small> - ingridmorgane@gmail.com</small></p>

            <p><strong>Ms. Jefferson Felipe Silva de Lima</strong>(<a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4479190D6">Lattes</a>)
                <small> - jfsilvadelima@gmail.com</small></p>

            <p><strong>Ms. Jucelio Soares dos Santos</strong>(<a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4303943A6">Lattes</a>)
                <small> - jucelio@copin.ufcg.edu.br</small></p>

            <p><strong>Ms. Laudson Silva de Souza</strong>(<a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4415207Z3">Lattes</a>)
                <small> - laudsonssouza@gmail.com</small></p>

            <p><strong>Ms. Pablo Roberto Fernandes de Oliveira</strong>(<a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4314714Y1">Lattes</a>)
                <small> - pablorobertofernando@gmail.com</small></p>

            <p><strong>Ms. Rosângela de Araujo Medeiros</strong>(<a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4269149T2">Lattes</a>)
                <small> - professorarosangelauepb@gmail.com</small></p>


        </div>

    </div>


    <footer>

        <p class="mr-5 ml-5 p-0 text-center"><img src="img/devloops-icone.png" class="m-1 p-0" width="50"><small class="text-black text-center">Develoops
                &copy;2018 -
                Contato:+55 83 9 9976 4684</small></p>
    </footer>


</body>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/appScripts.js"></script>

</html>