<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>1º SERCOMP - UEPB</title>
    <meta name="keywords" content="Computação, Inovação, Pesquisa em Computação, Computação contextualizada, Congresso, Paraiba, Patos-PB" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="screen" href="css/app.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
    <script src="js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script type="text/javascript">
        window.onload = function () {

            var ua = navigator.userAgent.toLowerCase();
            var uMobile = '';
            // === REDIRECIONAMENTO PARA iPhone, Windows Phone, Android, etc. ===
            // Lista de substrings a procurar para ser identificado como mobile WAP
            uMobile = '';
            uMobile += 'iphone;ipod;windows phone;android;iemobile 8';
            // Sapara os itens individualmente em um array
            v_uMobile = uMobile.split(';');
            // percorre todos os itens verificando se eh mobile
            var boolMovel = false;
            for (i = 0; i <= v_uMobile.length; i++) {
                if (ua.indexOf(v_uMobile[i]) != -1) {
                    boolMovel = true;
                }
            }
            if (boolMovel == true) {
                location.href = '/hackaton-mobile';
            }
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92283889-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-92283889-4');
    </script>
</head>

<body class="">

    <!--NAVEGADOR-->
    <div class="fixed-top couro">
        <nav class="nav float-left pl-5 pt-4 w-75 navegacao">
            <span><img src="img/simbolo.png" height="60px"></span>
            <li class="nav-item">
                <a class="nav-link active text-light" href="/index">
                    <img class="img-fluid mr-2" style="filter: invert(100%)" src="img/home.svg">
                    Inicio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/inscricao-evento">
                    <img class="img-fluid mr-2" style="filter: invert(100%)" src="img/inscreverse.svg">
                    Inscrição
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/chamada-trabalhos">
                    <img class="img-fluid mr-2" style="filter: invert(100%)" src="img/anexar.svg">
                    Submissão
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/hackton">
                    <img class="img-fluid mr-2" style="filter: invert(100%)" src="img/hackday.svg">
                    Hackday
                </a>
            </li>
        </nav>
        <div class="float-right pr-5 pt-4 w-25 navegacao ">
            <div class="float-right">
                <!--<span class="ml-3"><a href=""><img src="img/facebook.svg" style="filter: invert(100%)" height="20"></a></span>-->
                <span class="ml-3"><a href="https://www.instagram.com/sercomppb/"><img src="img/instagram.svg" style="filter: invert(100%)"
                            height="20"></a></span>
                <span class="ml-3"><a href="mailto:sercompeupb@gmail.com?Subject=Enviado%20do%20site" style="filter: invert(100%)"
                        height="20"><img src="img/email.svg"></a></span>
            </div>
        </div>
    </div>
    <!--Conteudo-->
    <div id="conteudo" style="padding-top: 100px">




        <div class="pr-5 pl-5 mr-5 ml-5 mt-3">
            <h2><strong>Hackday Sercomp</strong></h2>
            <h4 class="pt-4">O que é?</h4>
            <p>


                O Hackday Sercomp trata-se de uma maratona de criação e programação, onde equipes de até 4
                participantes
                competem entre si para desenvolverem, em curto período, uma solução inovadora, conforme o desafio
                proposto
                pela coordenação do evento.
                A proposta do Hackday Sercomp – É desafiar diferentes profissionais, universitários e desenvolvedores a
                se
                unirem e somarem esforços e competências para criarem um aplicativo voltado para solucionar problemas
                do
                sertão paraibano.
            </p>
            <br>
            <h4>Quando acontecerá?</h4>

            <p>
                Dia 23 de novembro de 2018 será realizado, no Primeiro Congresso Sertanejo de Computação que acontecerá
                na
                Universidade Estadual da Paraíba (UEPB) campus VII, Patos - PB. Nessa edição, receberemos até 15
                equipes,
                de, no mínimo, 2 e, no máximo, 4 pessoas, que disputarão um Hackday com a proposta de desenvolvimento
                de um
                aplicativo com ênfase em solucionar problemas do sertão paraibano.
                Das inscrições
                Estudantes interessados em desenvolver soluções inovadoras para o tema proposto.
                As inscrições poderão ser realizadas dia 01 de outubro de 2018 até às 23h59 do dia 19 de outubro de
                2018,
                através do site: <a href="www.sercomppb.com/inscricao-hackaton"></a>, onde será disponibilizado
                formulário para o preenchimento dos
                candidatos.

            </p>
            <br>
            <h4>Hackday - Etapas</h4>
            <p>
                <h5><strong>1ª Etapa</strong></h5>
                Definição da ideia e documentação - 23 de Novembro - Manhã
                No turno da manhã será definida a proposta da equipe e realizada a documentação que será feita baseada
                no
                template disponibilizado.
            </p>
            <p>
                <h5><strong>2ª Etapa</strong></h5>
                Desenvolvimento – 23 de Novembro - Tarde
                Para esta etapa é necessário que seja entregue no mínimo um protótipo da aplicação.
            </p>
            <br>
            <h2 class="pt-4"> <strong>Regras do evento</strong></h2>
            <br>
            <strong>DOS OBJETIVOS</strong><br>
            <p>O objetivo deste hackday é oferecer um ambiente que estimule a troca de conhecimentos, o trabalho em
                equipe,
                por meio da colaboração e integração, resultando no desenvolvimento de um aplicativo para solucionar
                problemas do sertão paraibano.
            </p>

            <strong>DAS EQUIPES</strong><br>
            <p> 1. Cada equipe deverá ser composta por, no mínimo, 2 e, no máximo, 4 pessoas, designadas no ato da
                inscrição.
            </p>
            <p>
                2. Os participantes inscritos nas equipes deverão ter disponibilidade para participar integralmente de
                todo
                o ciclo do hackday.
            </p>

            <strong>DAS INSCRIÇÕES</strong>
            <p>1. As inscrições serão realizadas no link disponibilizado no site:
                <a href="/inscricao-hackaton"></a>
            </p>
            <p>2. As equipes inscritas devem eleger um representante para apresentar seus
                dados e disponibilizar um e-mail e um telefone para contato direto.</p>
            <br>
            <strong>
                DO RESULTADO ESPERADO

            </strong>
            <p>Espera-se, ao final da maratona, que as equipes apresentem aplicativos para solucionar problemas do
                sertão
                paraibano.
            </p><br>
            <strong>AVALIAÇÃO</strong>
            <p>A avaliação será ao final do hackday através de uma comissão avaliadora, sendo premiada a melhor ideia.
                A comissão avaliadora só será divulgada horas antes.</p>
            <br>
            <strong>DOS DIREITOS DE PROPRIEDADE INTELECTUAL</strong>
            <p>Os participantes da maratona, incluindo os finalistas e vencedores, no ato da inscrição, assumem total e
                exclusiva responsabilidade pelo aplicativo que será apresentado ao final do evento, por sua
                titularidade e
                originalidade, incluindo, sem limitação, responsabilidade por eventuais violações à intimidade,
                privacidade, honra e imagem de qualquer pessoa, a deveres de segredo, à propriedade industrial, direito
                autoral e/ou a respeito de todas e quaisquer eventuais reivindicações de terceiros que se sintam
                prejudicados, eximindo a organizadora de qualquer responsabilidade relativa a tais fatos, aspectos,
                direitos e/ou situações.
                A organizadora declara ciência expressa que, os direitos de autor sobre os aplicativos apresentados ao
                final da maratona pertencem e permanecerão pertencentes integralmente aos seus respectivos
                proprietários.
            </p><br>
            <strong>CESSÃO DE DIREITO DE IMAGEM, VOZ E NOME</strong>
            <p> Os participantes, no ato da inscrição deste Hackday e uma vez sendo finalistas e/ou premiados,
                autorizam a
                utilização, de modo gratuito, definitivo e irrevogável, de seu nome e imagem, e ainda, do nome, imagem
                e
                características do aplicativo apresentado, no todo ou em parte, em qualquer meio/veículo escolhido pela
                organizadora, especialmente virtual, a qualquer tempo e por período indeterminado, sem restrição de
                quantidade, qualidade e frequência, mesmo que para fins publicitários, sem que isso lhe implique
                qualquer
                tipo de ônus e/ou contrapartida devida pela comissão organizadora.
            </p>
            <br>
            <strong>DA DESCLASSIFICAÇÃO</strong>
            <p>Será desclassificada a equipe que:
                <ul>
                    <li>a. Ferir os princípios de fair play;</li>
                    <li>b. Causar tumulto ou confusão durante o evento;</li>
                    <li>c. Pedir apoio
                        qualquer pessoa fora do evento;</li>
                    <li>d. Copiar soluções já existentes;</li>
                    <li>e. Se ausentar durante a etapa
                        presencial
                        da competição (a equipe deverá manter sempre ao menos um representante no local do evento);</li>
                </ul>
            </p><br>
            <strong>DISPOSIÇÕES GERAIS</strong>
            <p>O presente Regulamento e este Hackday poderão ser alterados, suspensos ou cancelados a qualquer tempo,
                comprometendo-se a comissão organizadora, desde já, a comunicar o novo Regulamento ou às novas
                condições do
                Hackday ou, ainda, o seu cancelamento definitivo, se for o caso, sem que exista direito a qualquer
                indenização em favor dos participantes. A organizadora não se responsabilizará por participações que
                não
                sejam computadas por problemas técnicos que ocorram na transmissão dos dados. A responsabilidade da
                comissão organizadora em relação ao prêmio termina no momento em que forem entregues aos ganhadores.
                A comissão organizadora não será responsável por problemas, falhas ou mau funcionamento técnico de
                qualquer
                tipo, em redes de computadores, servidores ou provedores, equipamentos de computadores, hardware ou
                software, nem por erro, interrupção, defeito, atraso ou falha em operações ou transmissões para o
                correto
                processamento de inscrições, incluindo, mas não se limitando, a transmissão imprecisa das inscrições ou
                de
                eventuais falhas em recebê-las, em razão de problemas técnicos, congestionamento na internet ou no site
                ligado à maratona, vírus, queda de energia, falha de programação (bugs) ou violação por terceiros
                (hackers).
                Eventuais tentativas por parte dos participantes de violar, de forma deliberada, alguns dos sites da
                organizadora ou do evento ou, ainda, de prejudicar o funcionamento legítimo da maratona, poderá
                constituir
                uma afronta às leis penais e civis, podendo acarretar a devida responsabilização por danos e prejuízos
                que
                vier a causar.
                Da mesma forma, a organizadora não se responsabiliza pela ocorrência de casos fortuitos ou de força
                maior
                que possam impedir a participação do interessado neste Hackday e/ou Evento.
                Eventuais despesas necessárias ao desenvolvimento e execução do aplicativo, assim como, a inscrição
                deste
                no Hackday e sua participação no evento, mas não se limitando a estes, são de responsabilidade
                exclusiva do
                participante individualmente ou em equipe, ficando, a organizadora, eximida de qualquer dever,
                responsabilidade e/ou ônus.
                A inscrição neste Hackday implica na aceitação imediata, integral e automática de todas as cláusulas e
                condições previstas neste Regulamento, assim como, nas previstas no Regulamento geral do Evento. Todas
                as
                funções, aplicativos e/ou tecnologias desenvolvidas devem ser originais.
                As soluções apresentadas ao final da Hackday deverão ter sido desenvolvidas durante o período da
                maratona
                (23 de novembro de 2018) e não devem ser cópias, em parte ou total, de outras soluções existentes no
                mercado.
                Cada participante deverá trazer seus próprios equipamentos (laptop, tablet e outros) para desenvolver
                as
                soluções para a competição, sendo que será fornecida rede wi-fi e energia no dia de evento pela
                organização. Os participantes deverão usar o crachá fornecido no ato do credenciamento durante todo o
                período e em todos os espaços em que será realizada a maratona.
                A comissão organizadora reserva-se o direito de decidir em sem consultar os participantes acerca de
                qualquer situação ou fato não previsto neste edital, e reserva-se o direito de acrescentar, diminuir ou
                remanejar o número de vagas para o hackathon conforme demanda.
            </p><br>
            <strong>ORIENTAÇÕES AOS PARTICIPANTES</strong>
            <p>As despesas dos participantes referentes a transporte, material de consumo e quaisquer outras
                necessárias
                para a participação deste evento serão de responsabilidade dos próprios participantes. As soluções
                propostas pelas equipes deverão estar prontas até às 18:00 horas do dia 23 de novembro de 2018.
                A avaliação dos aplicativos será realizada às 19:00 horas.</p>
            <br>
            <div class="container pr-4 pl-4 pt-2 pb-4 row">

                <div class="m-1">
                    <a href="/inscricao-hackaton" class="btn btn-lg couro text-white"><img
                            src="img/doc.svg" style="filter: invert(100%)" height="50px"><strong>Inscreva-se</strong></a>
                </div>

            </div>
        </div>
    </div>
    <footer>

        <p class="mr-5 ml-5 p-0 text-center"><img src="img/devloops-icone.png" class="m-1 p-0" width="50"><small class="text-black text-center">Devloops
                &copy;2018 -
                Contato:+55 83 9 9976 4684</small></p>
    </footer>


</body>


</html>