<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>1º SERCOMP - UEPB</title>
    <meta name="keywords" content="Computação, Inovação, Pesquisa em Computação, Computação contextualizada, Congresso, Paraiba, Patos-PB" />
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="screen" href="css/app-mobile.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
    <script src="js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92283889-4"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-92283889-4');
</script>

<body>
    <style>

    </style>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/appScriptsMobile.js"></script>

    <div>
        <button id="menu" class="btn bg-light float-left">
            <img src="img/menu.svg">
        </button>
        <button id="fechar" class="btn bg-light float-right">
            <img src="img/menu.svg">
        </button>
    </div>
    <header class="couro w-100">
        <div class="float-left  pt-4 w-75">
            <div class="float-left p-2">
                <!--<span class="ml-3"><a href="fb.com/sercomppb"><img src="img/facebook.svg" height="30" style="filter: invert(100%)"></a></span>-->
                <span class="ml-3"><a href="https://www.instagram.com/sercomppb/"><img src="img/instagram.svg" height="30"
                            style="filter: invert(100%)"></a></span>
                <span class="ml-3"><a href="mailto:sercompeupb@gmail.com?Subject=Enviado%20do%20site"><img src="img/email.svg"
                            style="filter: invert(100%)" height="30"></a></span>
            </div>
        </div>
    </header>
    <!--NAVEGADOR-->
    <div class="barra couro">
        <nav class="p-5 m-3">
            <ul class="w-100">
                <li class="nav-item">
                    <a class="nav-link active text-light" href="/index-mobile">
                        <img class="img-fluid mr-2" style="filter: invert(100%)" src="img/home.svg">
                        Inicio
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/inscricao-evento-mobile">
                        <img class="img-fluid mr-2" style="filter: invert(100%)" src="img/inscreverse.svg">
                        Inscrição
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/chamada-trabalhos-mobile">
                        <img class="img-fluid mr-2" style="filter: invert(100%)" src="img/anexar.svg">
                        Submissão
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/hackaton-mobile">
                        <img class="img-fluid mr-2" style="filter: invert(100%)" src="img/hackday.svg">
                        Hackday
                    </a>
                </li>

                <!--<li class="nav-item">
                            <a class="nav-link text-light" href="#minicursos">
                                <img class="img-fluid mr-2" style="filter: invert(100%)" src="img/oficina.svg">
                                Minicursos/Oficinas
                            </a>
                        </li>-->
            </ul>
        </nav>
    </div>
    <!--Conteudo-->
    <div id="conteudo">

        <div class="pr-3 pl-3 mr-3 ml-3 mt-3">
            <div class="container p-0 pt-3">
                <div class="col-lg-6 col-md-10 col-sm-12">
                    <span class="row"><img class="img-fluid mr-2" src="img/anexar.svg" height="40px"><h2><strong>Submissão</strong></h2></span>
                    
                    <p>O email deve conter o trabalho formatado nos padrões exigidos, o template está
                        disponivel para download na página anterior</p>

                    <p>O email de submissão deve conter: </p>
                    <ul>
                        <li>O arquivo do trabalho anexado</li>
                        <li>Nome do autor e coautores</li>
                        <li>Email de contato</li>
                        <li>Telefone</li>
                        <li>Titulo do artigo</li>
                        <li>Resumo de até 250 palavras</li>
                    </ul>
                    <div class="row justify-content-center text-center pt-3">
                        <button class="btn couro text-light float-left m-0"><a class="text-light" href="mailto:submissao@sercomppb.com?Subject=Trabalho%20submetido">Clique
                                aqui para enviar</a></button>
                        <p class="m-3">ou envie um email pra submissao@sercomppb.com</p>
                    </div>

                </div>
            </div>
        </div>
    </div>




    </div>
    <div class="row justify-content-center text-center mt-3">

        <span class="mb-1 w-100">
            <img src="img/devloops-icone.png" class="m-0 p-0" width="50px">

        </span>

        <div class="w-100 row justify-content-center text-center" class="pl-3">
            <span>
                <p><small class="text-back p-5">&copy;2018 - Contato: +55 83 9 9976 4684</small></p>
            </span>
        </div>
    </div>

</body>


</html>