<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>1º SERCOMP - UEPB</title>
    <meta name="keywords" content="Computação, Inovação, Pesquisa em Computação, Computação contextualizada, Congresso, Paraiba, Patos-PB" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="screen" href="css/app.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.css" />
    <script src="js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script type="text/javascript">
        window.onload = function () {

            var ua = navigator.userAgent.toLowerCase();
            var uMobile = '';
            // === REDIRECIONAMENTO PARA iPhone, Windows Phone, Android, etc. ===
            // Lista de substrings a procurar para ser identificado como mobile WAP
            uMobile = '';
            uMobile += 'iphone;ipod;windows phone;android;iemobile 8';
            // Sapara os itens individualmente em um array
            v_uMobile = uMobile.split(';');
            // percorre todos os itens verificando se eh mobile
            var boolMovel = false;
            for (i = 0; i <= v_uMobile.length; i++) {
                if (ua.indexOf(v_uMobile[i]) != -1) {
                    boolMovel = true;
                }
            }
            if (boolMovel == true) {
                location.href = '/inscricao-evento-mobile';
            }
        }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92283889-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-92283889-4');
    </script>
</head>

<body class="">

    <!--NAVEGADOR-->
    <div class="fixed-top couro">
        <nav class="nav float-left pl-5 pt-4 w-75 navegacao">
            <span><img src="img/simbolo.png" height="60px"></span>
            <li class="nav-item">
                <a class="nav-link active text-light" href="/index">
                    <img class="img-fluid mr-2" style="filter: invert(100%)" src="img/home.svg">
                    Inicio
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/inscricao-evento">
                    <img class="img-fluid mr-2" style="filter: invert(100%)" src="img/inscreverse.svg">
                    Inscrição
                </a>
            </li>
            <li>
            <a class="nav-link text-light" href="/chamada-trabalhos">
                <img class="img-fluid mr-2" style="filter: invert(100%)" src="img/anexar.svg">
                Submissão
            </a>
        </li>
            <li class="nav-item">
                <a class="nav-link text-light" href="/hackton">
                    <img class="img-fluid mr-2" style="filter: invert(100%)" src="img/hackday.svg">
                    Hackday
                </a>
            </li>
        </nav>
        <div class="float-right pr-5 pt-4 w-25 navegacao ">
            <div class="float-right">
                <!--<span class="ml-3"><a href=""><img src="img/facebook.svg" style="filter: invert(100%)" height="20"></a></span>-->
                <span class="ml-3"><a href="https://www.instagram.com/sercomppb/"><img src="img/instagram.svg" style="filter: invert(100%)"
                            height="20"></a></span>
                <span class="ml-3"><a href="mailto:sercompeupb@gmail.com?Subject=Enviado%20do%20site" style="filter: invert(100%)"
                        height="20"><img src="img/email.svg"></a></span>
            </div>
        </div>
    </div>
    <!--Conteudo-->
    <div id="conteudo" style="padding-top: 100px">

        <div class="pr-5 pl-5 mr-5 ml-5 mt-3">
            <div class="container row"><img class="mr-2" src="img/inscreverse.svg">
                <h2><strong>Inscrição</strong></h2>
            </div>


            <form class="col-lg-8 " method="POST" action="/inscricao">
                <div class="form-group container p-1">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 col-sm-12 p-1">
                            <label for="nome"><strong>Nome completo</strong></label>
                            <input type="text" class="form-control" id="nome" name="nome" placeholder="Ex. Pedro Perreira da Silva"
                                required="required">
                        </div>
                    </div>
                </div>
                <!--CONTATO-->
                <div class="form-group container p-0">
                    <div class="row">
                        <div class="col-lg-4 col-md-5 col-sm-6 p-1">
                            <label for="email"><strong>Email</strong></label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Ex. email@email.com" required="required">
                        </div>
                        <div class="col-lg-3 col-md-5 col-sm-6 p-1">
                            <label for="telefone"><strong>Telefone</strong></label>
                            <input type="tel" class="form-control" id="telefone" name="telefone" placeholder="Ex. 12 3456 7890"
                                required="required">
                        </div>
                    </div>
                </div>
                <!--ENDEREÇO-->
                <div class="form-group container p-0">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-4 p-1">
                            <label for="estado"><strong>Estado</strong></label>
                            <input type="text" class="form-control" id="estado" name="estado" placeholder="Ex. Paraiba" required="required">
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-6 p-1">
                            <label for="cidade"><strong>Cidade</strong></label>
                            <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Ex. Patos" required="required">
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 p-1">
                            <label for="endereco"><strong>Endereço</strong></label>
                            <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Ex. Rua Ciclano de Medeiros"
                                required="required">
                        </div>
                    </div>
                </div>
                <!--CURSO-->
                <div class="form-group container p-0">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-4 p-1">
                            <label for="instituicao"><strong>Instituição</strong></label>
                            <input type="text" class="form-control" id="instituicao" name="instituicao" placeholder="Ex. UEPB"
                                required="required">
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-8 p-1">
                            <label for="Curso"><strong>Curso</strong></label>
                            <input type="text" class="form-control" id="curso" name="curso" placeholder="Ex. Ciências da Computação"
                                required="required">
                        </div>
                    </div>
                </div>

                <div class="form-group container p-0">
                    <div class="row">
                        <button type="submit" class="btn couro float-left m-0 text-light">Concluir Inscrição</button>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <footer class="">

        <p class="mr-5 ml-5 p-0 text-center"><img src="img/devloops-icone.png" class="m-1 p-0" width="50"><small class="text-black text-center">Devloops
                &copy;2018 -
                Contato:+55 83 9 9976 4684</small></p>
    </footer>



</body>


</html>